In [1]:
import pandas as pd

In [5]:
df_data = pd.read_table("2016.txt",header=None)

In [6]:
print df_data

           0               1   2   3   4   5   6   7
0     110000             北京市 NaN NaN NaN NaN NaN NaN
1     110101             东城区 NaN NaN NaN NaN NaN NaN
2     110102             西城区 NaN NaN NaN NaN NaN NaN
3     110105             朝阳区 NaN NaN NaN NaN NaN NaN
4     110106             丰台区 NaN NaN NaN NaN NaN NaN
5     110107            石景山区 NaN NaN NaN NaN NaN NaN
6     110108             海淀区 NaN NaN NaN NaN NaN NaN
7     110109            门头沟区 NaN NaN NaN NaN NaN NaN
8     110111             房山区 NaN NaN NaN NaN NaN NaN
9     110112             通州区 NaN NaN NaN NaN NaN NaN
10    110113             顺义区 NaN NaN NaN NaN NaN NaN
11    110114             昌平区 NaN NaN NaN NaN NaN NaN
12    110115             大兴区 NaN NaN NaN NaN NaN NaN
13    110116             怀柔区 NaN NaN NaN NaN NaN NaN
14    110117             平谷区 NaN NaN NaN NaN NaN NaN
15    110118             密云区 NaN NaN NaN NaN NaN NaN
16    110119             延庆区 NaN NaN NaN NaN NaN NaN
17    120000             天津市 NaN NaN NaN NaN NaN NaN
18    120101             和平区 NaN NaN NaN NaN NaN NaN
19    120102             河东区 NaN NaN NaN NaN NaN NaN
20    120103             河西区 NaN NaN NaN NaN NaN NaN
21    120104             南开区 NaN NaN NaN NaN NaN NaN
22    120105             河北区 NaN NaN NaN NaN NaN NaN
23    120106             红桥区 NaN NaN NaN NaN NaN NaN
24    120110             东丽区 NaN NaN NaN NaN NaN NaN
25    120111             西青区 NaN NaN NaN NaN NaN NaN
26    120112             津南区 NaN NaN NaN NaN NaN NaN
27    120113             北辰区 NaN NaN NaN NaN NaN NaN
28    120114             武清区 NaN NaN NaN NaN NaN NaN
29    120115             宝坻区 NaN NaN NaN NaN NaN NaN
...      ...             ...  ..  ..  ..  ..  ..  ..
3189  654027            特克斯县 NaN NaN NaN NaN NaN NaN
3190  654028            尼勒克县 NaN NaN NaN NaN NaN NaN
3191  654200            塔城地区 NaN NaN NaN NaN NaN NaN
3192  654201             塔城市 NaN NaN NaN NaN NaN NaN
3193  654202             乌苏市 NaN NaN NaN NaN NaN NaN
3194  654221             额敏县 NaN NaN NaN NaN NaN NaN
3195  654223             沙湾县 NaN NaN NaN NaN NaN NaN
3196  654224             托里县 NaN NaN NaN NaN NaN NaN
3197  654225             裕民县 NaN NaN NaN NaN NaN NaN
3198  654226      和布克赛尔蒙古自治县 NaN NaN NaN NaN NaN NaN
3199  654300           阿勒泰地区 NaN NaN NaN NaN NaN NaN
3200  654301            阿勒泰市 NaN NaN NaN NaN NaN NaN
3201  654321            布尔津县 NaN NaN NaN NaN NaN NaN
3202  654322             富蕴县 NaN NaN NaN NaN NaN NaN
3203  654323             福海县 NaN NaN NaN NaN NaN NaN
3204  654324            哈巴河县 NaN NaN NaN NaN NaN NaN
3205  654325             青河县 NaN NaN NaN NaN NaN NaN
3206  654326            吉木乃县 NaN NaN NaN NaN NaN NaN
3207  659001            石河子市 NaN NaN NaN NaN NaN NaN
3208  659002            阿拉尔市 NaN NaN NaN NaN NaN NaN
3209  659003           图木舒克市 NaN NaN NaN NaN NaN NaN
3210  659004            五家渠市 NaN NaN NaN NaN NaN NaN
3211  659005             北屯市 NaN NaN NaN NaN NaN NaN
3212  659006            铁门关市 NaN NaN NaN NaN NaN NaN
3213  659007             双河市 NaN NaN NaN NaN NaN NaN
3214  659008           可克达拉市 NaN NaN NaN NaN NaN NaN
3215  659009             昆玉市 NaN NaN NaN NaN NaN NaN
3216  710000             台湾省 NaN NaN NaN NaN NaN NaN
3217  810000         香港特别行政区 NaN NaN NaN NaN NaN NaN
3218  820000         澳门特别行政区 NaN NaN NaN NaN NaN NaN

[3219 rows x 8 columns]

In [8]:
print df_data[0]

0       110000
1       110101
2       110102
3       110105
4       110106
5       110107
6       110108
7       110109
8       110111
9       110112
10      110113
11      110114
12      110115
13      110116
14      110117
15      110118
16      110119
17      120000
18      120101
19      120102
20      120103
21      120104
22      120105
23      120106
24      120110
25      120111
26      120112
27      120113
28      120114
29      120115
         ...
3189    654027
3190    654028
3191    654200
3192    654201
3193    654202
3194    654221
3195    654223
3196    654224
3197    654225
3198    654226
3199    654300
3200    654301
3201    654321
3202    654322
3203    654323
3204    654324
3205    654325
3206    654326
3207    659001
3208    659002
3209    659003
3210    659004
3211    659005
3212    659006
3213    659007
3214    659008
3215    659009
3216    710000
3217    810000
3218    820000
Name: 0, Length: 3219, dtype: int64

In [11]:
print df_data[1][3]

    朝阳区

In [12]:
tmp = []
for i in df_data[1]:
    tmp.append(i.strip())

In [13]:
df_tmp = pd.DataFrame()

In [14]:
df_tmp[0] = df_data[0]

In [15]:
df_tmp[1] = tmp

In [16]:
print df_tmp

           0           1
0     110000         北京市
1     110101         东城区
2     110102         西城区
3     110105         朝阳区
4     110106         丰台区
5     110107        石景山区
6     110108         海淀区
7     110109        门头沟区
8     110111         房山区
9     110112         通州区
10    110113         顺义区
11    110114         昌平区
12    110115         大兴区
13    110116         怀柔区
14    110117         平谷区
15    110118         密云区
16    110119         延庆区
17    120000         天津市
18    120101         和平区
19    120102         河东区
20    120103         河西区
21    120104         南开区
22    120105         河北区
23    120106         红桥区
24    120110         东丽区
25    120111         西青区
26    120112         津南区
27    120113         北辰区
28    120114         武清区
29    120115         宝坻区
...      ...         ...
3189  654027        特克斯县
3190  654028        尼勒克县
3191  654200        塔城地区
3192  654201         塔城市
3193  654202         乌苏市
3194  654221         额敏县
3195  654223         沙湾县
3196  654224         托里县
3197  654225         裕民县
3198  654226  和布克赛尔蒙古自治县
3199  654300       阿勒泰地区
3200  654301        阿勒泰市
3201  654321        布尔津县
3202  654322         富蕴县
3203  654323         福海县
3204  654324        哈巴河县
3205  654325         青河县
3206  654326        吉木乃县
3207  659001        石河子市
3208  659002        阿拉尔市
3209  659003       图木舒克市
3210  659004        五家渠市
3211  659005         北屯市
3212  659006        铁门关市
3213  659007         双河市
3214  659008       可克达拉市
3215  659009         昆玉市
3216  710000         台湾省
3217  810000     香港特别行政区
3218  820000     澳门特别行政区

[3219 rows x 2 columns]

In [17]:
df_tmp.to_csv("2016.csv", index=False)